:root {
    --primary-orange: hsl(25, 97%, 53%);
    --n-white: hsl(0, 0%, 100%);
    --n-lightGrey: hsl(217, 12%, 63%);
    --n-medGrey: hsl(216, 12%, 54%);
    --n-darkBlue: hsl(213, 19%, 18%);
    --n-veryDarkBlue: hsl(216, 12%, 8%);
    --mainFont: "Overpass", sans-serif;
}

.main-bg {
    background-color: black;
    height: 100vh;
}

.card {
    width: 400px;
    height: 450px;
    background-image: radial-gradient(ellipse at top, var(--n-darkBlue), var(--n-veryDarkBlue));
    border-radius: 20px !important;
}

.icon-bg {
    background-color: var(--n-darkBlue);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
    top: 48px;
    left: 23px;
}

.card-main-title {
    color: var(--n-white);
    font-family: var(--mainFont);
    font-size: 28px;
    font-weight: 400;
}

.card-txt {
    color: var(--n-lightGrey);
    font-size: 15px;
    font-family: var(--mainFont);
}

.one {
    background-color: var(--n-darkBlue);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
}


.two {
    background-color: var(--n-darkBlue);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin-left: 75px;
    transition: 0.3s;
}

.three {
    background-color: var(--n-darkBlue);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin-left: 150px;
    transition: 0.3s;
}

.four {
    background-color: var(--n-darkBlue);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin-left: 225px; 
    transition: 0.3s; 
}

.five {
    background-color: var(--n-darkBlue);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    margin-left: 300px;
    transition: 0.3s;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover {
    background-color: var(--n-medGrey);
}

.one-color {
    color: var(--n-lightGrey);
    padding-top: 12px;
}

.two-color {
    color: var(--n-lightGrey);
    padding-top: 12px;
}

.three-color {
    color: var(--n-lightGrey);
    padding-top: 12px;
}

.four-color {
    color: var(--n-lightGrey);
    padding-top: 12px;
}

.five-color {
    color: var(--n-lightGrey);
    padding-top: 12px;
}

.one-color:hover,
.two-color:hover,
.three-color:hover,
.four-color:hover,
.five-color:hover {
    color: var(--n-white);
}

.whenClickedFont {
    color: var(--n-white) !important;
}

.whenClickedBg {
    background-color: var(--primary-orange) !important;
}

.card-btn {
    width: 100%;
    margin-top: 90px;
    height: 50px;
    border-radius: 25px;
    font-family: var(--mainFont);
    background-color: var(--primary-orange);
    color: var(--n-white);
    letter-spacing: 2px;
    transition: 0.3s;
}

.card-btn:hover {
    background-color: var(--n-white);
    color: var(--primary-orange);
}

.thanks-title {
    color: var(--n-white);
    font-family: var(--mainFont);
    font-size: 32px;
    font-weight: 700;
}

.thanks-txt {
    color: var(--n-lightGrey);
}